<h2>Crea tu nuevo coche</h2>

  <p><b>Introduce la Marca del coche:</b></p>
  ID: <input type="number" placeholder="Id del coche" [(ngModel)]="coche.id"> <br/>

  <p><b>Introduce la Marca del coche:</b></p>
  Marca: <input type="text" placeholder="Marca del coche" [(ngModel)]="coche.marca"> <br/>

  <p><b>Introduce el Modelo del coche:</b></p>
  Modelo: <input type="text" placeholder="Modelo del coche" [(ngModel)]="coche.modelo"> <br/>

  <p><b>Introduce el Color del coche:</b></p>
  Color: <input type="text" placeholder="Color del coche" [(ngModel)]="coche.color"> <br/>

  <p><b>Introduce el Año del coche:</b></p>
  Año: <input type="number" placeholder="Año del coche" [(ngModel)]="coche.anio"> <br/>

  <button (click)="altaCoche()">Alta</button>








