
<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="">
      <mat-icon>directions_cars</mat-icon>
      <span>Inicio</span>
    </button>
    <button mat-menu-item routerLink="/read">
      <mat-icon>menu</mat-icon>
      <span>Lista</span>
    </button>
    <button mat-menu-item routerLink="/create">
      <mat-icon>voicemail</mat-icon>
      <span>Añadir</span>
    </button>
  </mat-menu>

<router-outlet></router-outlet>
